
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
            navigator.sayswho = (function(){
                var ua= navigator.userAgent, tem, 
                M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
                if(/trident/i.test(M[1])){
                    tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
                    return 'IE '+(tem[1] || '');
                }
                if(M[1]=== 'Chrome'){
                    tem= ua.match(/\b(OPR|Edge)\/(\d+)/);
                    if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
                }
                M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
                if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
                return M.join(' ');
            })();

            if (false) {
                window.onerror = function(errorMsg, url, lineNumber) {
                    const request = new XMLHttpRequest()
                    request.onreadystatechange = function() {}
                    request.open('GET', '/papi/user/logJsError/?file=' + encodeURIComponent(url) + '&message=' + encodeURIComponent(errorMsg) + '&line=' + lineNumber + '&client=' + encodeURIComponent(navigator.sayswho))
                    request.send()
                }
            }
        </script>

        <title>Electronic library. Download books free. Finding books</title>
<base href="/">

                        <meta charset="utf-8">		                       
                        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
                        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <meta name="title" content="Electronic library. Download books free. Finding books">
			<meta name="description" content="Electronic library. Download books free. Finding books | Z-Library. Download books for free. Find books">
			<meta name="robots" content="index,all">
			<meta name="distribution" content="global">
			<meta http-equiv="cache-control" content="no-cache">
			<meta http-equiv="pragma" content="no-cache">

                        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
                        <link rel="icon" href="favicon.svg">
                        <link rel="icon" type="image/svg+xml" href="/favicon-32x32.svg?v=2" sizes="32x32">
                        <link rel="icon" type="image/svg+xml" href="/favicon-16x16.svg?v=2" sizes="16x16">
                        <link rel="manifest" href="/manifest.json?v=1">
                        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#5bbad5">
                        <meta name="apple-mobile-web-app-title" content="Z-Library">
                        <meta name="application-name" content="Z-Library">
                        <meta name="theme-color" content="#ffffff">

                        <meta name="propeller" content="49c350d528ba144cace841cac74260ab">
                        <meta name="alfacoins-site-verification" content="5ef0e7b2483f15ef0e7b2484275ef0e7b24845d_ALFAcoins">
	
<!-- CSS SET -->
<!-- JS SET --> 
<link REL="SHORTCUT ICON" HREF="/favicon.ico?v=1">
        <link rel="search" type="application/opensearchdescription+xml" href="/search.xml" title="Search for books in the library Z-Library" />

                    <link rel="stylesheet" type="text/css" href="/resources/build/global.css?0.311" />
            <script type="text/javascript" src="/resources/build/global.js?0.311"></script>
        
                
        
        <script>
            
            const Config = {"domainHost":"1lib.mx","BRegion":"america"};
            const CurrentUser = new User({"id":"5502300"});
            const CurrentClientIP = "187.190.202.232";
            const proxiesToCheck = []; //for google verification

            i18next
                .use(i18nextHttpBackend)
                .init({
                    lng: 'en',
                    fallbackLng: 'en',
                    backend: {
                        loadPath: '/resources/build/locales/{{lng}}'
                    }
                })

            $(document).ready(function() {
                $('.tooltip-init').tooltip({html: true})

                                CurrentUser.getDownloadedBooks().then(downloadedBooks => {
                    $('.checkBookDownloaded').each(function(index, el) {
                        const bookId = parseInt(el.getAttribute('data-book_id'))
                        const isbn = el.getAttribute('data-isbn')

                        if (downloadedBooks.byId[bookId]) {
                            dateDownloaded = downloadedBooks.byId[bookId]
                        } else if (downloadedBooks.byIsbn[isbn]) {
                            dateDownloaded = downloadedBooks.byIsbn[isbn]
                        } else {
                            return
                        }

                        let date = new Date(dateDownloaded * 1000)
                        let months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
                        $(el).addClass('bookDownloaded')
                            .append('<span class="mark">' + i18next.t('Downloaded') + '</span>')
                            .attr('title', 'Downloaded at ' + date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear())
                    })
                })
                            })

            $(document).on('focus', '.form-email-field', function() {
                $(this).tooltip('hide')
            })
        </script>
    </head>

    <body style="margin:0px;padding:0px;" class="index startForm">
        <table border="0" height="100%" width="100%" style="height:100%;" cellpadding="0" cellspacing="0">
            <tbody>
                <tr style="height:10px;">
                    <td>
                        <div class="container-fluid">
                            

<div class="row">
    <div class="col-md-12">
        <style>
    div#colorBoxes
    {
        text-transform: capitalize;
    }

    div#colorBoxes ul li.active:nth-child(1)
    {
        border: 1px solid #378096;
        box-shadow: 0 0 6px #7DBCCF;
        border-top: 0px;
    }

    div#colorBoxes ul li.active:nth-child(2)
    {
        border: 1px solid #6e9b41;
        box-shadow: 0 0 6px #a4e861;
        border-top: 0px;
    }
</style>

        <div role="navigation" class="navbar-default navbar-right" style="background-color: transparent;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" onclick="">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="clear: both;">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li>
                    <a href="/howtodonate.php" style="color:#8EB46A;">Donate</a>                    </li>

                    
                    <!-- Admin menu dropdown -->
                    
                    <!-- Auth user menu dropdown -->
                                        <li class="dropdown" id="profileMenuBox">
                        <a href="#"  id="profileMenu" class="dropdown-toggle hidden-xs main-menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;">
                                                            <img src="/img/icon-user.svg" style="width: 21px;">
                                                    </a>
                        <ul class="dropdown-menu">
                            <li style="text-align: center;">
                                <a href="/profile.php" id="mainUserLink" style="color:#49AFD0; font-weight: 500;">sanquilmas</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/profile.php">Profile</a></li>
                                                            <li><a href="/users/favorites">Favorites (Saved books)</a></li>
                                <li><a href="/users/uploads.php">Your uploads</a></li>
                                <li><a href="/users/recommended.php">Recommended books</a></li>
                                <li><a href="/booklists/my">My Booklists</a></li>
                                <li>
                                    <a href="/request.php?tab=my&fltr=active">
                                        <span>My Book Requests</span>
                                    </a>
                                </li>
                                                                                    <li><a href="/users/zalerts.php">ZAlerts</a></li>
                            <li><a href="/users/dstats.php">Download history</a></li>
                            <li><a href="/users/suggested-corrections.php">Suggested corrections</a></li>
                            <li><a href="/profileEdit.php">Edit profile</a></li>
                            <li><a href="/logout.php" id="btnMenuLogout">Logout</a></li>
                        </ul>
                    </li>
                    
                    <!-- Search menu dropdown -->
                                <form method="get" action="/s/" style="padding:20px;" name="quickSearch">
                                    <input id="quickSearchInput" class="form-control" type="text" name="q" placeholder="Search for title, author, ISBN, publisher, md5.." style="border-radius: 4px; border: 1px solid #ddd; width:400px; padding: 6px 10px;height:40px;">
                                    <button type="submit" style="display: none;"></button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <script>
                        $("#quickSearchMenuDD").on('shown.bs.dropdown', function(e){
                            if(window.outerWidth > 768){
                                $('#quickSearchInput').focus();
                            }
                        });
                    </script>

                    <!-- Site menu dropdown -->
                    <li class="dropdown">
                        <a href="#" id="main-menu-dropdown" class="dropdown-toggle hidden-xs main-menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <img src="/img/icon-main-menu.svg" style="width: 18px;">
                            <span style="position:relative; top:-9px; left:-6px;height: 10px;width: 10px; background-color: #8ECD51;border-radius: 50%;display: inline-block;"></span>                        </a>
                        <ul class="dropdown-menu">
                                                        <li class="dropdown-header">Books</li>
                                                                                        <li><a href="/book-add.php">Add book</a></li>
                                <li><a href="/request.php">Book requests</a></li>
                                <li><a href="/booklists">Booklists</a></li>
                                <li><a href="/category-list">Categories</a></li>
                                <li><a href="/popular.php">Most Popular</a></li>
                                                                                                                <li><a href="/recently.php">Recently Added</a></li>
                                                        <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Z-Library Project</li>
                            <li><a href="/top-zlibrarians.php">Top Z-Librarians</a></li>
                            <li><a href="/blog/"><span style="position:relative; margin:0 3px 0 -13px;height: 10px;width: 10px; background-color: #8ECD51;border-radius: 50%;display: inline-block;"></span>Blog</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<style type="text/css">
    .main-menu-item img {
        opacity: 0.7;
    }
    .main-menu-item img:hover {
        opacity: 1;
    }
</style>

    <script>
        $(window).on("load", function () {
            $('#profileMenuBox').tooltip({
                html: true,
                placement: 'left',
                title: '<div id="userDStatsSpinner">Loading...</div>',
            }).on('inserted.bs.tooltip', function() {
                // already loaded, do nothing
                if (!$('#userDStatsSpinner').length) {
                    return
                }

                return new ZLibraryResponse('/papi/user/dstats')
                    .spinner(new ZLibrarySpinner('userDStatsSpinner', 'button').color('#ffffff'))
                    .disableNotify()
                    .fetch()
                    .then(data => {
                        $('#profileMenuBox').attr('title',
                                'Downloads: ' + data.dailyDownloads + '/' + data.dailyDownloadsLimit
                                + '<br/>Will reset in ' + data.resetTime)
                            .tooltip('fixTitle')
                            .tooltip('show')
                    });
            });
        });

        $('#btnMenuLogout').click(function(event) {
            CurrentUser.clearDownloadedBooks()
        });        
    </script>


<script>
$("#bs-example-navbar-collapse-1").on('shown.bs.collapse', function(e){
    $('#main-menu-dropdown').dropdown('toggle');
    $('#main-menu-dropdown').attr('data-toggle', ''); // make it static    

    $('#admin-menu-dropdown').dropdown('toggle');
    $('#admin-menu-dropdown').attr('data-toggle', ''); // make it static    

    $("#quickSearchMenuDD2").dropdown('toggle');
    $('#quickSearchMenuDD2').attr('data-toggle', ''); // make it static

    $("#profileMenu").dropdown('toggle');
    $('#profileMenu').attr('data-toggle', ''); // make it static
});

$(document).ready(function() {
    const subdomainPrefix = '';
    const singleloginDomains = ["singlelogin.org","singlelogin.app","singlelogin.me","loginzlib2vrak5zzpcocc3ouizykn6k5qecgj2tzlnab5wcbqhembyd.onion","singlelogin.loc"];
    const booksDomains = ["book4you.org","1lib.club","1lib.mx","b-ok.lat","2lib.org","b-ok.global","1lib.org","3lib.net","4lib.org","bookos-z1.org","1lib.limited","1lib.education"];
    const articlesDomains = ["booksc.org","art1lib.org","art1lib.com","booksc.me"];

    const domainCheckSuccess = (domain, mode) => {
        if (subdomainPrefix.length && domain[2] === '.') { // priority for subdomainPrefix
            domain = domain.substr(3)
        }
        $('.populate-preferred-domain[data-mode="' + mode + '"]').each(function() {
            const uriPath = $(this).attr('href').replace(/^.*\/\/[^\/|\?]+/, '')
            $(this).attr('href', '//' + subdomainPrefix + domain + uriPath)
        })
    }

    const domainCheckError = (domain, mode) => {}

    const Checker = DomainsChecker
    Checker(booksDomains, domainCheckSuccess, domainCheckError, 'books')
    Checker(articlesDomains, domainCheckSuccess, domainCheckError, 'articles')
    DomainsChecker(singleloginDomains, domainCheckSuccess, domainCheckError, 'singlelogin')
})
</script>                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="g-page-content">
                        <div class="container" style="max-width: 1000px;padding-bottom: 40px;">
                            <div class="row">
                                <div class="col-md-12 itemFullText">
                                    
<div id="searchFormWithLogo">
        <div style="text-align: center;margin-top: 50px;">
        <div style="font-size:52px; padding: 0 15px 0 15px; line-height: 1;">
            <a href="/" style="text-decoration:none;" id="logoText">
                                    <img src="/img/logo.zlibrary.png" style="width:300px;" alt="ZLibary" title="Z-Library">
                            </a>
        </div>
        <div class="color4" style="color:#90A5A8;font-weight:400; padding:4px 0 15px 0;font-style: italic;">
            Part of Z-Library project.            The world's largest ebook library        </div>
    </div>

<script type="text/javascript">
    $(document).on('click', '.btnShowMerchantPopup', function() {
        const merchantModal = new ZLibraryModal({
            element: 'merchantPopup',
            container: 'zlibrary-modal-styled',
        })
        merchantModal.show()
    })

    $(document).on('click', '.btnCloseMerchantPopup', function() {
        const merchantModal = new ZLibraryModal({
            element: 'merchantPopup',
            container: 'zlibrary-modal-styled',
        })
        merchantModal.hide()
    })

    $(document).on('click', '.btnHideAnnouncement', function() {
        let cook = getCookie('hiddenMessages');
        let hidden = cook ? JSON.parse(cook) : [];
        let messageHash = $(this).data('message');

        if (hidden.indexOf(messageHash) === -1) {
            hidden.push($(this).data('message'))
        }

        setCookie('hiddenMessages', JSON.stringify(hidden), 31*24*60*60*1000)
        $('#messageBlock').hide()
    })
</script>
<style type="text/css">
    .btnHideAnnouncement {
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 140%;
        text-decoration: none;
        color: #f0ad4e;
        font-weight: bold;
    }
    .btnHideAnnouncement:hover { color: #ffda65; text-decoration: none; }
</style>


    <a name="s"></a>

    <form method="get" id="searchForm" action="/s/">
                <ul id="searchModeTabs">
            <li class="active"><a href="">General Search</a></li>
            <li class=""><a href="/fulltext/"  style="margin-left: -1px;">Fulltext Search</a></li>
        </ul>
        
        <div class="b-search-form hover">
            <div class="b-search-input g-clearfix">
                <div class="input">
                    <input type="text" maxlength="200" name="q" id="searchFieldx" value="" placeholder="Search for title, author, ISBN, publisher, md5.." style="padding-right: 12px;">
                </div>
                <div class="button whiteShadow">
                    <div class="inner">
                        <button type="submit">
                            <span class="hidden-xs">search</span>
                            <span class="glyphicon glyphicon-search visible-xs-block"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 5px;">
            <div id="advSearch-wrapper" style="margin-right: 25px;">
                <div >
                    <span id="advSearch-control" style="border-bottom: 1px dashed; color: #777;font-size: 14px;cursor:pointer;">Search options</span>
                </div>
                <div style="display:none;" id="advSearch">
                                        <span class="input_wrap__checkbox mr-10">
                        <input type="checkbox" name="e" value="1" id="ftcb" >
                        <label for="ftcb">Exact matching</label>
                    </span>
                                        <div class="mr-10" id="wrapYearFrom"></div>
                    <div class="mr-10" id="wrapYearTo"></div>
                    <div class="mr-10" id="wrapLang"></div>
                    <div class="mr-10" id="wrapExt"></div>
                    <div class="search-settings-wrap">
                        <div class="search-settings">
                            <a href="#" class="saving-search-settings hidden"
                               data-title_save="Save filters"
                               data-title_saved="Saved"
                               onclick="ZLibrarySearch.saveSearchSettings(); return false;">
                               <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <path d="M0 2C0 0.89543 0.895431 0 2 0H32C33.1046 0 34 0.895431 34 2V32C34 33.1046 33.1046 34 32 34H2C0.89543 34 0 33.1046 0 32V2Z" fill="white"/>
                                   <path class="svg__body" d="M13.6667 21.6667V17.6667H20.3333V21.6667H21.6667V14.2187L19.7813 12.3333H12.3333V21.6667H13.6667ZM11.6667 11H20.3333L23 13.6667V22.3333C23 22.5101 22.9298 22.6797 22.8047 22.8047C22.6797 22.9298 22.5101 23 22.3333 23H11.6667C11.4899 23 11.3203 22.9298 11.1953 22.8047C11.0702 22.6797 11 22.5101 11 22.3333V11.6667C11 11.4899 11.0702 11.3203 11.1953 11.1953C11.3203 11.0702 11.4899 11 11.6667 11ZM15 19V21.6667H19V19H15Z" fill="#49afd0"/>
                                   <g class="svg__body-check-mark" transform="translate(18 18)">
                                       <circle cx="4.5" cy="4.5" r="4" fill="white" stroke="#49AFD0"/>
                                       <path d="M2.25 4.5L3.9375 6.1875L6.75 3.375" stroke="#49AFD0"/>
                                   </g>
                                   <path class="svg__border" d="M2 1H32V-1H2V1ZM33 2V32H35V2H33ZM32 33H2V35H32V33ZM1 32V2H-1V32H1ZM2 33C1.44772 33 1 32.5523 1 32H-1C-1 33.6569 0.343146 35 2 35V33ZM33 32C33 32.5523 32.5523 33 32 33V35C33.6569 35 35 33.6569 35 32H33ZM32 1C32.5523 1 33 1.44772 33 2H35C35 0.343146 33.6569 -1 32 -1V1ZM2 -1C0.343146 -1 -1 0.343146 -1 2H1C1 1.44772 1.44772 1 2 1V-1Z" fill="#D9D9D9"/>
                               </svg>
                            </a>
                            <a href="#" class="clear-search-settings hidden"
                               title="Reset filters"
                               onclick="ZLibrarySearch.clearFilters(); return false;">
                                <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 2C0 0.89543 0.895431 0 2 0H32C33.1046 0 34 0.895431 34 2V32C34 33.1046 33.1046 34 32 34H2C0.89543 34 0 33.1046 0 32V2Z" fill="white"/>
                                    <path class="svg__body" d="M17 16.0573L20.3 12.7573L21.2427 13.7L17.9427 17L21.2427 20.3L20.3 21.2427L17 17.9427L13.7 21.2427L12.7573 20.3L16.0573 17L12.7573 13.7L13.7 12.7573L17 16.0573Z" fill="#8C8C8C"/>
                                    <path class="svg__border" d="M2 1H32V-1H2V1ZM33 2V32H35V2H33ZM32 33H2V35H32V33ZM1 32V2H-1V32H1ZM2 33C1.44772 33 1 32.5523 1 32H-1C-1 33.6569 0.343146 35 2 35V33ZM33 32C33 32.5523 32.5523 33 32 33V35C33.6569 35 35 33.6569 35 32H33ZM32 1C32.5523 1 33 1.44772 33 2H35C35 0.343146 33.6569 -1 32 -1V1ZM2 -1C0.343146 -1 -1 0.343146 -1 2H1C1 1.44772 1.44772 1 2 1V-1Z" fill="#D9D9D9"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
                            <!-- fb like here -->
                    </div>
            </form>
</div>

<script>
    setTimeout(function () {
        var searchField = document.getElementById('searchFieldx');
        var searchFieldTopPosition;

        if (searchField) {
            searchFieldTopPosition = searchField.getBoundingClientRect().top;

            if (searchFieldTopPosition > 0) {
                searchField.focus();
            }
        }
    }, 0);

    $("#searchForm").submit(function ()
    {
        $(this).children('select[value=""]').attr("disabled", "disabled");
        $.each($("#searchForm select, #searchForm input"), function (key, value) {
            if ($(this).val() == "") {
                $(this).attr("disabled", "disabled");
            }
        });
        return true;
    });

    $('#ftcb2').popover({
        placement: 'bottom',
        html: true
    });

    $('#ftcb1').popover({
        placement: 'bottom',
        html: true
    });

    function initializePopoverHelper() {
        if ($('#ftcb').length) {
            
                        if($('#ftcb').is(':checked')){
                wordsContent = 'Search for books containing ALL specified terms ANYWHERE in the text. <div class="etcFt">..text text text <b>my</b> ..text text text text text .. <b>search</b> ..text text text text text.. <b>query</b>.. text text text <b>works</b> ..text text.. <b>good</b> text..</div>'
                phraseContent = 'Search for books <i>exactly</i> match specified phrase. <div class="etcFt">..text text text text text text.. <b>my search query works good</b> ..text text text text text text text text text text text text..</div>'
            }else{
                wordsContent = 'Search for books containing <i>most of</i> specified terms (>75%) ANYWHERE in the text. <div class="etcFt">..text text text <b>my</b> ..text text text text text .. <b>search</b> ..text text text text text.. <b>query</b> ..text text.. <b>works</b> ..text text..</div>'
                phraseContent = 'Search for books containing ALL specified words that are <i>next to each other</i> and in the <i>same order</i>. <div class="etcFt">..text text text text text text.. <b>my</b> long <b>search query</b> will <b>works good</b> ..text text text text text text text text text text text text..</div>'
            }

            $('#ftcb2').data('bs.popover').options.content = wordsContent;
            $('#ftcb1').data('bs.popover').options.content = phraseContent;
        }
    }

    $(function() {
            });
</script>

<script>
    $(function(){
        new ZLibraryMultiselect({
            wrapSelector: '#wrapYearFrom',
            useTargetSelect: true,
            valuesName: 'yearFrom',
            sortType: 'number',
            isReversSort: true,
            placeholder: 'Year from',
            textForNone: 'Any year',
            rowData: {"items":[{"text":2021,"value":2021},{"text":2020,"value":2020},{"text":2019,"value":2019},{"text":2018,"value":2018},{"text":2017,"value":2017},{"text":2016,"value":2016},{"text":2015,"value":2015},{"text":2014,"value":2014},{"text":2013,"value":2013},{"text":2012,"value":2012},{"text":2011,"value":2011},{"text":2010,"value":2010},{"text":2009,"value":2009},{"text":2008,"value":2008},{"text":2007,"value":2007},{"text":2006,"value":2006},{"text":2005,"value":2005},{"text":2004,"value":2004},{"text":2003,"value":2003},{"text":2002,"value":2002},{"text":2001,"value":2001},{"text":2000,"value":2000},{"text":1999,"value":1999},{"text":1998,"value":1998},{"text":1997,"value":1997},{"text":1996,"value":1996},{"text":1995,"value":1995},{"text":1994,"value":1994},{"text":1993,"value":1993},{"text":1992,"value":1992},{"text":1991,"value":1991},{"text":1990,"value":1990},{"text":1989,"value":1989},{"text":1988,"value":1988},{"text":1987,"value":1987},{"text":1986,"value":1986},{"text":1985,"value":1985},{"text":1984,"value":1984},{"text":1983,"value":1983},{"text":1982,"value":1982},{"text":1981,"value":1981},{"text":1980,"value":1980},{"text":1979,"value":1979},{"text":1978,"value":1978},{"text":1977,"value":1977},{"text":1976,"value":1976},{"text":1975,"value":1975},{"text":1974,"value":1974},{"text":1973,"value":1973},{"text":1972,"value":1972},{"text":1971,"value":1971},{"text":1970,"value":1970},{"text":1969,"value":1969},{"text":1968,"value":1968},{"text":1967,"value":1967},{"text":1966,"value":1966},{"text":1965,"value":1965},{"text":1964,"value":1964},{"text":1963,"value":1963},{"text":1962,"value":1962},{"text":1961,"value":1961},{"text":1960,"value":1960},{"text":1959,"value":1959},{"text":1958,"value":1958},{"text":1957,"value":1957},{"text":1956,"value":1956},{"text":1955,"value":1955},{"text":1954,"value":1954},{"text":1953,"value":1953},{"text":1952,"value":1952},{"text":1951,"value":1951},{"text":1950,"value":1950},{"text":1949,"value":1949},{"text":1948,"value":1948},{"text":1947,"value":1947},{"text":1946,"value":1946},{"text":1945,"value":1945},{"text":1944,"value":1944},{"text":1943,"value":1943},{"text":1942,"value":1942},{"text":1941,"value":1941},{"text":1940,"value":1940},{"text":1939,"value":1939},{"text":1938,"value":1938},{"text":1937,"value":1937},{"text":1936,"value":1936},{"text":1935,"value":1935},{"text":1934,"value":1934},{"text":1933,"value":1933},{"text":1932,"value":1932},{"text":1931,"value":1931},{"text":1930,"value":1930},{"text":1929,"value":1929},{"text":1928,"value":1928},{"text":1927,"value":1927},{"text":1926,"value":1926},{"text":1925,"value":1925},{"text":1924,"value":1924},{"text":1923,"value":1923},{"text":1922,"value":1922},{"text":1921,"value":1921},{"text":1920,"value":1920},{"text":1919,"value":1919},{"text":1918,"value":1918},{"text":1917,"value":1917},{"text":1916,"value":1916},{"text":1915,"value":1915},{"text":1914,"value":1914},{"text":1913,"value":1913},{"text":1912,"value":1912},{"text":1911,"value":1911},{"text":1910,"value":1910},{"text":1909,"value":1909},{"text":1908,"value":1908},{"text":1907,"value":1907},{"text":1906,"value":1906},{"text":1905,"value":1905},{"text":1904,"value":1904},{"text":1903,"value":1903},{"text":1902,"value":1902},{"text":1901,"value":1901},{"text":1900,"value":1900},{"text":1899,"value":1899},{"text":1898,"value":1898},{"text":1897,"value":1897},{"text":1896,"value":1896},{"text":1895,"value":1895},{"text":1894,"value":1894},{"text":1893,"value":1893},{"text":1892,"value":1892},{"text":1891,"value":1891},{"text":1890,"value":1890},{"text":1889,"value":1889},{"text":1888,"value":1888},{"text":1887,"value":1887},{"text":1886,"value":1886},{"text":1885,"value":1885},{"text":1884,"value":1884},{"text":1883,"value":1883},{"text":1882,"value":1882},{"text":1881,"value":1881},{"text":1880,"value":1880},{"text":1879,"value":1879},{"text":1878,"value":1878},{"text":1877,"value":1877},{"text":1876,"value":1876},{"text":1875,"value":1875},{"text":1874,"value":1874},{"text":1873,"value":1873},{"text":1872,"value":1872},{"text":1871,"value":1871},{"text":1870,"value":1870},{"text":1869,"value":1869},{"text":1868,"value":1868},{"text":1867,"value":1867},{"text":1866,"value":1866},{"text":1865,"value":1865},{"text":1864,"value":1864},{"text":1863,"value":1863},{"text":1862,"value":1862},{"text":1861,"value":1861},{"text":1860,"value":1860},{"text":1859,"value":1859},{"text":1858,"value":1858},{"text":1857,"value":1857},{"text":1856,"value":1856},{"text":1855,"value":1855},{"text":1854,"value":1854},{"text":1853,"value":1853},{"text":1852,"value":1852},{"text":1851,"value":1851},{"text":1850,"value":1850},{"text":1849,"value":1849},{"text":1848,"value":1848},{"text":1847,"value":1847},{"text":1846,"value":1846},{"text":1845,"value":1845},{"text":1844,"value":1844},{"text":1843,"value":1843},{"text":1842,"value":1842},{"text":1841,"value":1841},{"text":1840,"value":1840},{"text":1839,"value":1839},{"text":1838,"value":1838},{"text":1837,"value":1837},{"text":1836,"value":1836},{"text":1835,"value":1835},{"text":1834,"value":1834},{"text":1833,"value":1833},{"text":1832,"value":1832},{"text":1831,"value":1831},{"text":1830,"value":1830},{"text":1829,"value":1829},{"text":1828,"value":1828},{"text":1827,"value":1827},{"text":1826,"value":1826},{"text":1825,"value":1825},{"text":1824,"value":1824},{"text":1823,"value":1823},{"text":1822,"value":1822},{"text":1821,"value":1821},{"text":1820,"value":1820},{"text":1819,"value":1819},{"text":1818,"value":1818},{"text":1817,"value":1817},{"text":1816,"value":1816},{"text":1815,"value":1815},{"text":1814,"value":1814},{"text":1813,"value":1813},{"text":1812,"value":1812},{"text":1811,"value":1811},{"text":1810,"value":1810},{"text":1809,"value":1809},{"text":1808,"value":1808},{"text":1807,"value":1807},{"text":1806,"value":1806},{"text":1805,"value":1805},{"text":1804,"value":1804},{"text":1803,"value":1803},{"text":1802,"value":1802},{"text":1801,"value":1801},{"text":1800,"value":1800}],"selected":[]},
        });

        new ZLibraryMultiselect({
            wrapSelector: '#wrapYearTo',
            useTargetSelect: true,
            valuesName: 'yearTo',
            sortType: 'number',
            isReversSort: true,
            placeholder: 'Year to',
            textForNone: 'Any year',
            rowData: {"items":[{"text":2021,"value":2021},{"text":2020,"value":2020},{"text":2019,"value":2019},{"text":2018,"value":2018},{"text":2017,"value":2017},{"text":2016,"value":2016},{"text":2015,"value":2015},{"text":2014,"value":2014},{"text":2013,"value":2013},{"text":2012,"value":2012},{"text":2011,"value":2011},{"text":2010,"value":2010},{"text":2009,"value":2009},{"text":2008,"value":2008},{"text":2007,"value":2007},{"text":2006,"value":2006},{"text":2005,"value":2005},{"text":2004,"value":2004},{"text":2003,"value":2003},{"text":2002,"value":2002},{"text":2001,"value":2001},{"text":2000,"value":2000},{"text":1999,"value":1999},{"text":1998,"value":1998},{"text":1997,"value":1997},{"text":1996,"value":1996},{"text":1995,"value":1995},{"text":1994,"value":1994},{"text":1993,"value":1993},{"text":1992,"value":1992},{"text":1991,"value":1991},{"text":1990,"value":1990},{"text":1989,"value":1989},{"text":1988,"value":1988},{"text":1987,"value":1987},{"text":1986,"value":1986},{"text":1985,"value":1985},{"text":1984,"value":1984},{"text":1983,"value":1983},{"text":1982,"value":1982},{"text":1981,"value":1981},{"text":1980,"value":1980},{"text":1979,"value":1979},{"text":1978,"value":1978},{"text":1977,"value":1977},{"text":1976,"value":1976},{"text":1975,"value":1975},{"text":1974,"value":1974},{"text":1973,"value":1973},{"text":1972,"value":1972},{"text":1971,"value":1971},{"text":1970,"value":1970},{"text":1969,"value":1969},{"text":1968,"value":1968},{"text":1967,"value":1967},{"text":1966,"value":1966},{"text":1965,"value":1965},{"text":1964,"value":1964},{"text":1963,"value":1963},{"text":1962,"value":1962},{"text":1961,"value":1961},{"text":1960,"value":1960},{"text":1959,"value":1959},{"text":1958,"value":1958},{"text":1957,"value":1957},{"text":1956,"value":1956},{"text":1955,"value":1955},{"text":1954,"value":1954},{"text":1953,"value":1953},{"text":1952,"value":1952},{"text":1951,"value":1951},{"text":1950,"value":1950},{"text":1949,"value":1949},{"text":1948,"value":1948},{"text":1947,"value":1947},{"text":1946,"value":1946},{"text":1945,"value":1945},{"text":1944,"value":1944},{"text":1943,"value":1943},{"text":1942,"value":1942},{"text":1941,"value":1941},{"text":1940,"value":1940},{"text":1939,"value":1939},{"text":1938,"value":1938},{"text":1937,"value":1937},{"text":1936,"value":1936},{"text":1935,"value":1935},{"text":1934,"value":1934},{"text":1933,"value":1933},{"text":1932,"value":1932},{"text":1931,"value":1931},{"text":1930,"value":1930},{"text":1929,"value":1929},{"text":1928,"value":1928},{"text":1927,"value":1927},{"text":1926,"value":1926},{"text":1925,"value":1925},{"text":1924,"value":1924},{"text":1923,"value":1923},{"text":1922,"value":1922},{"text":1921,"value":1921},{"text":1920,"value":1920},{"text":1919,"value":1919},{"text":1918,"value":1918},{"text":1917,"value":1917},{"text":1916,"value":1916},{"text":1915,"value":1915},{"text":1914,"value":1914},{"text":1913,"value":1913},{"text":1912,"value":1912},{"text":1911,"value":1911},{"text":1910,"value":1910},{"text":1909,"value":1909},{"text":1908,"value":1908},{"text":1907,"value":1907},{"text":1906,"value":1906},{"text":1905,"value":1905},{"text":1904,"value":1904},{"text":1903,"value":1903},{"text":1902,"value":1902},{"text":1901,"value":1901},{"text":1900,"value":1900},{"text":1899,"value":1899},{"text":1898,"value":1898},{"text":1897,"value":1897},{"text":1896,"value":1896},{"text":1895,"value":1895},{"text":1894,"value":1894},{"text":1893,"value":1893},{"text":1892,"value":1892},{"text":1891,"value":1891},{"text":1890,"value":1890},{"text":1889,"value":1889},{"text":1888,"value":1888},{"text":1887,"value":1887},{"text":1886,"value":1886},{"text":1885,"value":1885},{"text":1884,"value":1884},{"text":1883,"value":1883},{"text":1882,"value":1882},{"text":1881,"value":1881},{"text":1880,"value":1880},{"text":1879,"value":1879},{"text":1878,"value":1878},{"text":1877,"value":1877},{"text":1876,"value":1876},{"text":1875,"value":1875},{"text":1874,"value":1874},{"text":1873,"value":1873},{"text":1872,"value":1872},{"text":1871,"value":1871},{"text":1870,"value":1870},{"text":1869,"value":1869},{"text":1868,"value":1868},{"text":1867,"value":1867},{"text":1866,"value":1866},{"text":1865,"value":1865},{"text":1864,"value":1864},{"text":1863,"value":1863},{"text":1862,"value":1862},{"text":1861,"value":1861},{"text":1860,"value":1860},{"text":1859,"value":1859},{"text":1858,"value":1858},{"text":1857,"value":1857},{"text":1856,"value":1856},{"text":1855,"value":1855},{"text":1854,"value":1854},{"text":1853,"value":1853},{"text":1852,"value":1852},{"text":1851,"value":1851},{"text":1850,"value":1850},{"text":1849,"value":1849},{"text":1848,"value":1848},{"text":1847,"value":1847},{"text":1846,"value":1846},{"text":1845,"value":1845},{"text":1844,"value":1844},{"text":1843,"value":1843},{"text":1842,"value":1842},{"text":1841,"value":1841},{"text":1840,"value":1840},{"text":1839,"value":1839},{"text":1838,"value":1838},{"text":1837,"value":1837},{"text":1836,"value":1836},{"text":1835,"value":1835},{"text":1834,"value":1834},{"text":1833,"value":1833},{"text":1832,"value":1832},{"text":1831,"value":1831},{"text":1830,"value":1830},{"text":1829,"value":1829},{"text":1828,"value":1828},{"text":1827,"value":1827},{"text":1826,"value":1826},{"text":1825,"value":1825},{"text":1824,"value":1824},{"text":1823,"value":1823},{"text":1822,"value":1822},{"text":1821,"value":1821},{"text":1820,"value":1820},{"text":1819,"value":1819},{"text":1818,"value":1818},{"text":1817,"value":1817},{"text":1816,"value":1816},{"text":1815,"value":1815},{"text":1814,"value":1814},{"text":1813,"value":1813},{"text":1812,"value":1812},{"text":1811,"value":1811},{"text":1810,"value":1810},{"text":1809,"value":1809},{"text":1808,"value":1808},{"text":1807,"value":1807},{"text":1806,"value":1806},{"text":1805,"value":1805},{"text":1804,"value":1804},{"text":1803,"value":1803},{"text":1802,"value":1802},{"text":1801,"value":1801},{"text":1800,"value":1800}],"selected":[]},
        });

                new ZLibraryMultiselect({
            wrapSelector: '#wrapLang',
            useTargetSelect: true,
            type: 'multiple',
            valuesName: 'languages',
            placeholder: 'Select languages',
            placeholderFull: 'languages selected',
            textForNone: 'Any Language',
            rowData: {
                groups: [
                    {
                        name: 'popular',
                        items: [{"text":"Chinese","value":"chinese"},{"text":"Dutch","value":"dutch"},{"text":"English","value":"english"},{"text":"French","value":"french"},{"text":"German","value":"german"},{"text":"Italian","value":"italian"},{"text":"Portuguese","value":"portuguese"},{"text":"Russian","value":"russian"},{"text":"Spanish","value":"spanish"}],
                        selected: [],
                    },
                ],
                items: [{"text":"Afrikaans","value":"afrikaans"},{"text":"Albanian","value":"albanian"},{"text":"Arabic","value":"arabic"},{"text":"Armenian","value":"armenian"},{"text":"Azerbaijani","value":"azerbaijani"},{"text":"Bashkir","value":"bashkir"},{"text":"Belarusian","value":"belarusian"},{"text":"Bengali","value":"bengali"},{"text":"Berber","value":"berber"},{"text":"Bulgarian","value":"bulgarian"},{"text":"Catalan","value":"catalan"},{"text":"Chamorro","value":"chamorro"},{"text":"Crimean Tatar","value":"crimean"},{"text":"Croatian","value":"croatian"},{"text":"Czech","value":"czech"},{"text":"Danish","value":"danish"},{"text":"Esperanto","value":"esperanto"},{"text":"Estonian","value":"estonian"},{"text":"Finnish","value":"finnish"},{"text":"Georgian","value":"georgian"},{"text":"Greek","value":"greek"},{"text":"Gujarati","value":"gujarati"},{"text":"Hebrew","value":"hebrew"},{"text":"Hindi","value":"hindi"},{"text":"Hungarian","value":"hungarian"},{"text":"Icelandic","value":"icelandic"},{"text":"Indigenous","value":"indigenous"},{"text":"Indonesian","value":"indonesian"},{"text":"Japanese","value":"japanese"},{"text":"Kannada","value":"kannada"},{"text":"Kazakh","value":"kazakh"},{"text":"Kirghiz","value":"kirghiz"},{"text":"Korean","value":"korean"},{"text":"Latin","value":"latin"},{"text":"Latvian","value":"latvian"},{"text":"Lithuanian","value":"lithuanian"},{"text":"Malayalam","value":"malayalam"},{"text":"Malaysian","value":"malaysian"},{"text":"Marathi","value":"marathi"},{"text":"Mongolian","value":"mongolian"},{"text":"Nepali","value":"nepali"},{"text":"Norwegian","value":"norwegian"},{"text":"Odia","value":"odia"},{"text":"Persian","value":"persian"},{"text":"Polish","value":"polish"},{"text":"Romanian","value":"romanian"},{"text":"Sanskrit","value":"sanskrit"},{"text":"Serbian","value":"serbian"},{"text":"Sinhala","value":"sinhala"},{"text":"Slovak","value":"slovak"},{"text":"Slovenian","value":"slovenian"},{"text":"Somali","value":"somali"},{"text":"Swahili","value":"swahili"},{"text":"Swedish","value":"swedish"},{"text":"Tajik","value":"tajik"},{"text":"Tamil","value":"tamil"},{"text":"Tatar","value":"tatar"},{"text":"Telugu","value":"telugu"},{"text":"Thai","value":"thai"},{"text":"Turkish","value":"turkish"},{"text":"Ukrainian","value":"ukrainian"},{"text":"Urdu","value":"urdu"},{"text":"Uzbek","value":"uzbek"},{"text":"Vietnamese","value":"vietnamese"}],
                selected: [],
            },
        });

        new ZLibraryMultiselect({
            wrapSelector: '#wrapExt',
            useTargetSelect: true,
            type: 'multiple',
            valuesName: 'extensions',
            placeholder: 'Select extensions',
            placeholderFull: 'extensions selected',
            textForNone: 'Any extension',
            rowData: {"items":[{"text":"txt","value":"txt"},{"text":"pdf","value":"pdf"},{"text":"fb2","value":"fb2"},{"text":"epub","value":"epub"},{"text":"lit","value":"lit"},{"text":"mobi","value":"mobi"},{"text":"rtf","value":"rtf"},{"text":"djv","value":"djv"},{"text":"djvu","value":"djvu"},{"text":"azw","value":"azw"},{"text":"azw3","value":"azw3"}],"selected":[]},
        });
        
                ZLibrarySearch.init();
    });
</script>

<h2 class="color1" style="margin-top:20px;overflow: hidden;"><span style="float:left;">Personally recommended</span> <a href="https://rec2me.com" style="float:right;font-size: 12px; color: #49afd0;line-height: 16pt;" target="_blank" title="recommender system and recommendation engine">Powered by Rec2Me</a></h2>
<div style="background: #49AFD0; height:2px; width: 100%; margin-bottom: 20px;">&nbsp;</div>
<div id="bMosaicBox" style="display:none">
        <div class="brick checkBookDownloaded" data-book_id="1293620" data-isbn="0062060619" style="width:20%;">
            <a style="text-decoration: none;" href="/book/1293620/32b9c0?dsource=recommend" title="The Song of Achilles: A Novel">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/f8/53/6f/f8536ff3ff53a16852a326fc5d4f94c8.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="4508313" data-isbn="978-1501161933" style="width:20%;">
            <a style="text-decoration: none;" href="/book/4508313/a859cf?dsource=recommend" title="The Seven Husbands of Evelyn Hugo: A Novel">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/b9/8d/45/b98d45aa05f3ddf848de8d30a0ac823e.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="4824673" data-isbn="9780062457790" style="width:20%;">
            <a style="text-decoration: none;" href="/book/4824673/6718e9?dsource=recommend" title="They Both Die at the End">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/45/83/65/458365e0a86de3b6392feb97c110647e.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="5809236" data-isbn="9780765387561" style="width:20%;">
            <a style="text-decoration: none;" href="/book/5809236/164f48?dsource=recommend" title="The Invisible Life of Addie LaRue">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/05/40/45/054045f48d75d227d92c8dfa6f03ed15.png" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="2646085" data-isbn="0385539258" style="width:20%;">
            <a style="text-decoration: none;" href="/book/2646085/070a12?dsource=recommend" title="A Little Life: A Novel">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/ae/d2/11/aed211bf01bb707e690cc9ad10d78840.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="5706754" data-isbn="9780525559474" style="width:20%;">
            <a style="text-decoration: none;" href="/book/5706754/5584c6?dsource=recommend" title="The Midnight Library &amp; Reasons to Stay Alive By Matt Haig 2 Books Collection Set">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/ca/aa/62/caaa62e76d19bf976fbcee32f33439f7.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="877382" data-isbn="9780375842207" style="width:20%;">
            <a style="text-decoration: none;" href="/book/877382/665868?dsource=recommend" title="The Book Thief">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/f0/93/ec/f093ec3729fc52226ada73bee1f384b9.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="4649171" data-isbn="9781471156267" style="width:20%;">
            <a style="text-decoration: none;" href="/book/4649171/371aea?dsource=recommend" title="It Ends with Us">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/b5/0b/2c/b50b2c576b8ad44ae37874ccbfd61551.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="4781829" data-isbn="9780316480208" style="width:20%;">
            <a style="text-decoration: none;" href="/book/4781829/fc3d07?dsource=recommend" title="The Cruel Prince">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/57/78/71/577871dd23aaab8d107b77eac8856744.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="3865213" data-isbn="9780385741262" style="width:20%;">
            <a style="text-decoration: none;" href="/book/3865213/0ddda1?dsource=recommend" title="We Were Liars">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/c7/30/5a/c7305a17a10193242fcba8c1f594d27b.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="1833487" data-isbn="9780062060624" style="width:20%;">
            <a style="text-decoration: none;" href="/book/1833487/455fe7?dsource=recommend" title="The Song of Achilles">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/33/56/a7/3356a71cb8ad80ab0e19b1d0e139fa25.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="5004486" data-isbn="" style="width:20%;">
            <a style="text-decoration: none;" href="/book/5004486/dad7cc?dsource=recommend" title="Red, White &amp; Royal Blue">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/f2/c8/3e/f2c83ed87ddf395da316f0ad4b144dcd.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="4801987" data-isbn="9781250095282" style="width:20%;">
            <a style="text-decoration: none;" href="/book/4801987/913e12?dsource=recommend" title="If We Were Villains: A Novel">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/a2/35/91/a23591c66c0d1c3f14e3e982f16dadd0.png" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="1164710" data-isbn="0385534647" style="width:20%;">
            <a style="text-decoration: none;" href="/book/1164710/5bafc1?dsource=recommend" title="The Night Circus  ">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/10/ac/f4/10acf4b7e86c3d6ace96f50862271491.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="5349716" data-isbn="B07S9HLL34" style="width:20%;">
            <a style="text-decoration: none;" href="/book/5349716/48fdae?dsource=recommend" title="A Touch of Darkness">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/4a/ce/13/4ace136b7e51f12d96851ff09e209122.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="4507556" data-isbn="B01M98J44U" style="width:20%;">
            <a style="text-decoration: none;" href="/book/4507556/75cd52?dsource=recommend" title="One of Us is Lying">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/f1/98/d5/f198d5f87494883d0ffb37b024dfd1b9.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="4501036" data-isbn="9781442408920" style="width:20%;">
            <a style="text-decoration: none;" href="/book/4501036/6d5f73?dsource=recommend" title="Aristotle and Dante Discover the Secrets of the Universe">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/af/8e/8b/af8e8b36c78a574341b1b841c0fa01c8.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="3991993" data-isbn="9781619634459" style="width:20%;">
            <a style="text-decoration: none;" href="/book/3991993/5d41a1?dsource=recommend" title="A Court of Thorns and Roses">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/2d/3c/94/2d3c9478286f0830af1ed48007f18191.png" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="3717696" data-isbn="9781635570298" style="width:20%;">
            <a style="text-decoration: none;" href="/book/3717696/70ce13?dsource=recommend" title="The Priory of the Orange Tree">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/cd/a3/40/cda3403da66a3fc074b207485129777c.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="5432301" data-isbn="9781952457005" style="width:20%;">
            <a style="text-decoration: none;" href="/book/5432301/15baab?dsource=recommend" title="From Blood and Ash">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/ea/9c/18/ea9c18d32fd1d9d907bcba383dd7ada3.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="5002304" data-isbn="9780374311544" style="width:20%;">
            <a style="text-decoration: none;" href="/book/5002304/e099b3?dsource=recommend" title="We Hunt the Flame ">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/de/5a/a4/de5aa4ebcaf144ef969762dd311b4931.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="4308488" data-isbn="9781250095251" style="width:20%;">
            <a style="text-decoration: none;" href="/book/4308488/097255?dsource=recommend" title="Caraval">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/96/12/c0/9612c0131e205f256aec160fc3c11bbd.png" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="4655549" data-isbn="1627792120" style="width:20%;">
            <a style="text-decoration: none;" href="/book/4655549/3eebe7?dsource=recommend" title="Six of Crows">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/8f/5a/cb/8f5acbd50bfebc4b7da89e4362dbc598.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="4159476" data-isbn="9780062310637" style="width:20%;">
            <a style="text-decoration: none;" href="/book/4159476/ec49d7?dsource=recommend" title="Red Queen">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/a7/56/86/a7568672f574017378f0ff9814108772.jpg" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div>
        <div class="brick checkBookDownloaded" data-book_id="2950787" data-isbn="9781449474256" style="width:20%;">
            <a style="text-decoration: none;" href="/book/2950787/46c317?dsource=recommend" title="Milk and Honey">
                <div class="z-book-cover"><img src="https://covers.zlibcdn2.com/covers299/books/8f/9b/6b/8f9b6bffceef958de0c6d7f33914f166.png" class="bMosaicCover bgrid-item item" width="100%"/></div>
            </a>
        </div></div>    <script type="text/javascript" src="/resources/ext/freewall.js"></script>
<script>
    $(function () {
        $('#bMosaicBox').css('display', 'block');

        var wall = new Freewall('#bMosaicBox');
        wall.reset({
            selector: '.brick',
            keepOrder: true,
            //animate: true,
            cellW: $($('.brick')[0]).outerWidth(),
            cellH: 'auto',
            gutterX: 8,
            gutterY: 8,
            fixSize: false,
            onResize: function () {
                wall.fitWidth();
            },
            onComplete: function () {
                $('#bMosaicBox .bookDownloaded').each(function () {
                    $(this).css('height', $(this).find('img').height() + 'px')
                })
            }
        });

        wall.container.find('img').load(function () {
            wall.fitWidth();
        });

        wall.fitWidth();
    });
</script><div class="seeMoreLink"><a href="/users/recommended.php" class="color1">See More &gt;&gt;</a></div>
<style type="text/css">
    .seeMoreLink {
        text-align: right; font-size: 120%; margin: 20px 0 0 0;
    }
</style>
                                                                    </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="height:60px">
                    <td id="footer" valign="top">
                        <div class="container-fluid">
<!-- footer begin -->
<div class="row">
    <div class="footer-copyright w-5-hide w-3-3-show-inline">
        <span class="w-5-hide w-1-3-show p-left-0">Since 2009.</span>
        <span class="w-3-show w-1-3-hide p-left-0">Free ebooks since 2009.</span>
    </div>
    <div class="footer-right w-5-hide w-4-3-show">
        <div class="footer-nav-right" role="navigation">
            <ul class="nav navbar-nav">
                
    <li class="icon-link">
        <a href="/android" title="<div style='white-space: nowrap;'>ZLibrary app</div>" data-toggle="tooltip" data-html="true" onmouseover="$(this).tooltip('show')">
            <img src="/img/icon-android.svg" class="colored" width="36" height="36">
            <img src="/img/icon-android-gray.svg" class="gray" width="36" height="36">
        </a>
    </li>
    
        <li class="icon-link">
            <button onclick="window.location.replace('http://loginzlib2vrak5zzpcocc3ouizykn6k5qecgj2tzlnab5wcbqhembyd.onion')" data-toggle="tooltip" data-placement="top" data-html="true" title="<div style='white-space: nowrap;'>TOR version</div>" onmouseover="$(this).tooltip('show')">
                <img src="/img/icon-tor.svg" class="colored" width="36" height="36">
                <img src="/img/icon-tor-gray.svg" class="gray" width="36" height="36">
            </button>
        </li>
        
        <li class="icon-link">
            <button onclick="generateTelegramHash(this)">
                <img src="/img/icon-telegram.svg" class="colored" width="36" height="36">
                <img src="/img/icon-telegram-gray.svg" class="gray" width="36" height="36">
            </button>
        </li>
                    </ul>
        </div>
    </div>
    <div class="footer-copyright w-3-3-show">
        <span class="w-5-show w-3-hide p-left-0">Free ebooks since 2009.</span>
        <span class="w-3-p-left-0">
            <a class="footer-mailto" href="mailto: support@bookmail.org">support@bookmail.org</a>
        </span>
        <span class=""> <a href="/faq.php">FAQ</a></span>
        <span class=""> <a href="/blog/">Blog</a> <sup class="f-blog-btn-title" style="color: #8ECD51;font-weight:500;">New!</sup></span>
    </div>
    <div class="footer-right w-4-3-left">
        <div class="footer-nav-right" role="navigation">
            <ul class="nav navbar-nav">
                
    <li class="icon-link">
        <a href="/android" title="<div style='white-space: nowrap;'>ZLibrary app</div>" data-toggle="tooltip" data-html="true" onmouseover="$(this).tooltip('show')">
            <img src="/img/icon-android.svg" class="colored" width="36" height="36">
            <img src="/img/icon-android-gray.svg" class="gray" width="36" height="36">
        </a>
    </li>
    
        <li class="icon-link">
            <button onclick="window.location.replace('http://loginzlib2vrak5zzpcocc3ouizykn6k5qecgj2tzlnab5wcbqhembyd.onion')" data-toggle="tooltip" data-placement="top" data-html="true" title="<div style='white-space: nowrap;'>TOR version</div>" onmouseover="$(this).tooltip('show')">
                <img src="/img/icon-tor.svg" class="colored" width="36" height="36">
                <img src="/img/icon-tor-gray.svg" class="gray" width="36" height="36">
            </button>
        </li>
        
        <li class="icon-link">
            <button onclick="generateTelegramHash(this)">
                <img src="/img/icon-telegram.svg" class="colored" width="36" height="36">
                <img src="/img/icon-telegram-gray.svg" class="gray" width="36" height="36">
            </button>
        </li>
                                        <li class="w-4-p-left-0"><a href="/privacy.php">Privacy</a></li>
                <li><a href="/dmca.php">DMCA</a></li>
                <li class="dropup p-right-0" style="white-space: nowrap;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">English <span class="caret"></span></a>
                    <ul class="dropdown-menu language-list">
                        <li><a href="//1lib.mx/">English</a></li><li><a href="//ru.1lib.mx/">Русский</a></li><li><a href="//es.1lib.mx/">Español</a></li><li><a href="//it.1lib.mx/">Italiano</a></li><li><a href="//el.1lib.mx/">ελληνικά</a></li><li><a href="//ar.1lib.mx/">اللغة العربية</a></li><li><a href="//id.1lib.mx/">Bahasa Indonesia</a></li><li><a href="//my.1lib.mx/">Bahasa Malaysia</a></li><li><a href="//in.1lib.mx/">हिन्दी</a></li><li><a href="//de.1lib.mx/">Deutsch</a></li><li><a href="//fr.1lib.mx/">Français</a></li><li><a href="//pt.1lib.mx/">Português</a></li><li><a href="//ua.1lib.mx/">Українська</a></li><li><a href="//pl.1lib.mx/">Polski</a></li><li><a href="//zh.1lib.mx/">汉语</a></li><li><a href="//jp.1lib.mx/">日本語</a></li><li><a href="//vn.1lib.mx/">Tiếng Việt</a></li><li><a href="//az.1lib.mx/">Azərbaycan Dili</a></li><li><a href="//am.1lib.mx/">Հայոց լեզու</a></li><li><a href="//th.1lib.mx/">ภาษาไทย</a></li><li><a href="//tr.1lib.mx/">Türk Dili</a></li><li><a href="//ge.1lib.mx/">ქართველი</a></li><li><a href="//bd.1lib.mx/">বাংলা</a></li><li><a href="//af.1lib.mx/">پښتو</a></li><li><a href="//te.1lib.mx/">తెలుగు</a></li><li><a href="//ur.1lib.mx/">اردو</a></li><li><a href="//kr.1lib.mx/">한국어</a></li><li><a href="//rs.1lib.mx/">Српски</a></li>                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="zlibrary-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header hidden">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body" style="position: relative; min-height: 80px;"></div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="zlibrary-modal-styled" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header hidden">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title"></h1>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="zlibrary-modal-auth" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
        
        <!-- ggAdditionalHtml -->
        <!--LiveInternet counter--><script type="text/javascript">
new Image().src = "//counter.yadro.ru/hit;bookzz?r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random();</script><!--/LiveInternet-->

<iframe name="uploader" id="uploader" style="border:0px solid #ddd; width:90%; display:none;"></iframe><script></script>        <!-- /ggAdditionalHtml -->
        
                
        <script>
            if (typeof pagerOptions !== "undefined" && pagerOptions) {
                $('div.paginator').paginator(pagerOptions);
            }
        </script>
    </body>
</html>

